
.endChat{
  padding-bottom: 100px;
}

.wrapper
{
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    scrollbar-width: thin; /* Makes the scrollbar thinner */
    scrollbar-color: #2b2641 transparent; /* Sets the thumb and track to transparent */
}
  .newForm{
    margin-bottom: 20px;
    padding: 5px;
    height: 55px;
     width: 50%; 
    position: absolute;
    bottom: 0;
    background-color: #2c2937;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 20px;
    /* box-sizing: border-box; */


    input{
      flex: 1;
      padding: 20px;
      border: none;
      outline: none;
      background-color: transparent;
      color: #ececec;

    }

    button, label{
      border-radius: 50%;
      background-color: #605e68;
      border: none;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-right: 0px;

      img{
        width: 16px;
        height: 16px;
      }

    }
    button:hover, label:hover{
      background-color: white;
    }
  }



  /* Remove the placeholder text on smaller screens */
  

  .newForm {
    gap: 10px; /* Reduce gap on small screens */
    padding: 10px; /* Adjust padding for small screens */
  }

  @media (max-width: 800px) {
    /* Further adjustments for very small screens */
    .newForm {
      width: 40%; 
      flex-direction: row; /* Stack elements horizontally */
      gap: 8px;
      padding: 8px;
      /* justify-content:start; Ensure spacing between items */
      
       input::placeholder {
        visibility: hidden;
      }
    }
  }
  

  @media (max-width: 938px) {
    /* Further adjustments for very small screens */
    .newForm {
      width: 60%; 
      flex-direction: row; /* Stack elements horizontally */
      gap: 8px;
      padding: 8px;
      justify-content:normal; /* Ensure spacing between items */
      
       input::placeholder {
        visibility: hidden;
      }
    }
  }

